<div class="min-h">
    <div class="container">
        <div class="col md-12 text-center">
            <p class="testimonials-subtitle">Amamos todo tipo de</p>
            <h2 class="testimonials-title">Tecnologia</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img-technology/gamer.png"
                     height="400"
                     alt="">
            </div>
            <div class="col-md-6 tech-card">
                <h3>Julia Hollywood</h3>
                <p class="tech-role">Chief executive officer</p>
                <p class="tech-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                    turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 tech-card">
                <h3>Florence Anderson</h3>
                <p class="testimonials-role">Marketing director</p>
                <p class="testimonials-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                    turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img-technology/user.png"
                     height="400"
                     alt="">
            </div>
        </div>
    </div>
</div>