<div class="min-h">

    <div class="container padding-top form-inline">
        <div class="col-md-6">
            <p class="header-subtitle">DeskCode apresenta</p>
            <h1 class="header-title">A melhor <span>Landing Page</span> para sua empresa</h1>
            <p class="header-title-text">Com a melhor tecnologia do mercado, totalmente customizavél. O código do projeto é disponibilizado no seu repositório.</p>
            <div class="text-center">
                <button class="rounded text-center"
                        mdbBtn
                        color="purple">Eu quero!</button>
            </div>
        </div>
        <div class="col-md-6 header-img-section">
            <img class="animated pulse infinite"
                 src="../../../assets/img-home/hero_img.png"
                 height="500">
        </div>
    </div>
</div>