<div class="min-h">
    <div class="container">
        <div class="col-md-12 text-center">
            <p class="features-subtitle">Muito a oferecer</p>
            <h2 class="features-title">Nosso estimado modelo</h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card-1">
                    <h3>Contato</h3>
                    <p class="features-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                        turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-2">
                    <h3>Solução</h3>
                    <p class="features-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                        turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-3">
                    <h3>Notificação</h3>
                    <p class="features-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                        turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card-4">
                    <h3>Pré Visualização</h3>
                    <p class="features-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                        turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-5">
                    <h3>Alerta</h3>
                    <p class="features-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                        turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-6">
                    <h3>Acesso ao Código Fonte</h3>
                    <p class="features-text">Duis felis nulla, porttitor et ex a, porttitor rhoncus ex. Sed tellus
                        turpis, finibus in elit rhoncus, varius cursus enim. Sed tempus sapien in.</p>
                </div>
            </div>
        </div>
    </div>
</div>