<div class="min-h">
    <div class="container">
        <div class="col md-12 text-center">
            <p class="tech-subtitle">Estamos aqui para lhe ajudar</p>
            <h2 class="tech-title">Dúvidas frequentes</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/img-doubts/questions.png"
                     height="400"
                     alt="">
            </div>
            <div class="col-md-8">
                <div>
                    <lib-angular-collapse>
                        <div header>
                            <button mdbBtn
                                    class="btn btn-link tittle-accordion">
                                1.Dúvida em como melhorar a aplicação
                            </button>
                        </div>
                        <div body>
                            <div>
                                <div class="accordion">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid.
                                </div>
                            </div>
                        </div>
                    </lib-angular-collapse>
                </div>
                <div class="mt-2">
                    <lib-angular-collapse class="mt-2">
                        <div header
                             class="rounded">
                            <button class="btn btn-link tittle-accordion"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                2.Dúvida em como melhorar a aplicação
                            </button>
                        </div>
                        <div body
                             class="rounded">
                            <div>
                                <div class="accordion">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid.
                                </div>
                            </div>
                        </div>
                    </lib-angular-collapse>
                </div>
                <div class="mt-2">
                    <lib-angular-collapse class="mt-2">
                        <div header
                             class="rounded">
                            <button class="btn btn-link tittle-accordion"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                2.Dúvida em como melhorar a aplicação
                            </button>
                        </div>
                        <div body
                             class="rounded">
                            <div>
                                <div class="accordion">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid.
                                </div>
                            </div>
                        </div>
                    </lib-angular-collapse>
                </div>
                <div class="mt-2">
                    <lib-angular-collapse class="mt-2">
                        <div header
                             class="rounded">
                            <button class="btn btn-link tittle-accordion"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                2.Dúvida em como melhorar a aplicação
                            </button>
                        </div>
                        <div body
                             class="rounded">
                            <div>
                                <div class="accordion">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid.
                                </div>
                            </div>
                        </div>
                    </lib-angular-collapse>
                </div>
            </div>
        </div>
    </div>
</div>