<div>
    <mdb-navbar class="navbar-expand-lg navbar-dark bg-color"
                mdbStickyHeader>
        <mdb-navbar-brand>
            <div class="row">
                <img src="../../../assets/logo/Logo2.png" height="80" alt="">
                <a class="navbar-brand margin-nav mt-3 text-danger"
                   href="#">Home</a>

                   <a class="navbar-brand mt-3 text-white"
                   href="#">Sobre</a>

                   <a class="navbar-brand mt-3 text-white"
                   href="#">Modelo</a>

                   <a class="navbar-brand mt-3 text-white"
                   href="#">Tecnologia</a>

                   <a class="navbar-brand mt-3 text-white"
                   href="#">Dúvidas</a>

                   <a class="navbar-brand mt-3 text-white"
                   href="#">Contato</a>
            </div>
        </mdb-navbar-brand>
    </mdb-navbar>
</div>